#main_wrap{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  .row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80vw;
    .card{
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 260px;
      height: 340px;
      text-align: center;
      color: white;
      background-color: black;
      padding: 20px;
      margin: 20px 0;
      border-radius: 5px;
      img {
        height: 150px;
      }
      h2 {
        font-size: 20px;
        margin: 10px 0;
      }
      h3 {
        margin: 10px 0;
      }
    }
  }
}
